.vscode/
.idea/
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace
.history/
.DS_Store
Thumbs.db
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/npm-debug.log
**/yarn-error.log
**/.angular/cache/
**/.sass-cache/
**/coverage/
**/__screenshots__/
**/testem.log
**/typings/
**/.gradle/
**/build/
!backend/gradle/wrapper/gradle-wrapper.jar
**/.apt_generated/
**/.factorypath
**/.springBeans
**/.sts4-cache/
**/bin/
**/out/
**/nbproject/private/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/.env
**/.env.*
!**/.env.example
**/*.log
./.env