SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/EasySchedule
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=EasySchedule
CORS_ALLOWED_ORIGINS=http://localhost:4200
