<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="LOG_PATH" source="logging.file.name" defaultValue="logs/easyschedule.log"/>

    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %highlight(%-5level) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>
    <property name="PROFILE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %highlight(%-5level) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){magenta} %clr(:){faint} %clr(%m){yellow} %n%wEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="PROFILE_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PROFILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/easyschedule.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%15.15t] %-40.40logger{39} : %m%n%wEx</pattern>
        </encoder>
    </appender>

    <logger name="com.easyschedule.backend.estudiante.controller" level="INFO" additivity="false">
        <appender-ref ref="PROFILE_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.easyschedule.backend.estudiante.service" level="INFO" additivity="false">
        <appender-ref ref="PROFILE_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.easyschedule.backend" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
